/* ---------- Header ---------- */

#header{
    display:flex;
    justify-content: center;
    align-items: center;
}

#header img{
    margin: 0 1rem 0 1rem;
    height:3rem;
}

#header a{
    letter-spacing:0.7px;
    font-size:x-large;
}

/* ---------- Main ---------- */

main .containerLogin{
    width: 100%;
}

.userType{
    width: 100%;
    flex-direction: column;
}

#studentRadio, #academicianRadio{
    width: 90%;
    margin: 10px 0 0 0;
    min-width: 280px;
}

#loginForm{
    margin:auto;
    width:98%
}

/* ------------------------------*/

nav{
    width: 100%;
}

nav.nav-default{
    transform: translateX(calc(-100% + 40px));
}

@keyframes hide_slide{

    0% {transform: translateX(0%);}

    40%{transform: translateX(-100%);}

    80%{transform: translateX(-60%);}

    100%{transform: translateX(calc(-100% + 40px));}
}

.content{
    min-width: calc(100% - 40px);
}

.content .container{
    flex-direction: column;
    align-items: center;
}
.content .container .card{
    width: 100%;
}

/* ---------- Footer ---------- */

.wrapper{
    width:100%;
}
.wrapper .button{
    width: 50px;
    height: 50px;
}

.wrapper .button .icon{
    width: 50px;
    height: 50px;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 50px;
}
.wrapper .button:hover{
    width: 50px;
}

/* ---------- ALERT --------- */

#alertBox {
    max-height: 350px;
    max-width: 500px;
    left:0px;
    padding : 30px;
}

#alertBox .content-alert h2 {
     font-size: 1.5rem;
}

/* ---------- END ---------- */